[Desktop Entry]
Type=Application
Name=DHFS Launcher
Comment=Start the DHFS desktop launcher
Exec=DhfsLauncher
Terminal=false
Icon=dhfs-launcher
Categories=Utility;
